<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Out Of Line</title>
  </head>
  <body>
    <section id="react"></section>
    <script src="/controllers/flux-demo/indexView.js"></script>
  </body>
</html>